body {
    background-image: url("images/spikes.png");
    font-family: 'Courier New', Courier, monospace;
    height: auto;
    max-width: 900px;
    margin: 20px 15px 15px 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px auto;
    max-width: 900 px;
    align-items: center;
}

.header {
    align-self: flex-start;
    background-color: aliceblue;
    color: black;
}

.nav {
    align-self: auto;
    background-color: aliceblue;
    color: black;
}

.aboutme {
    align-self: baseline;
    justify-items: right;
    margin: auto;
}

.connectwithme {
    align-self: baseline;
    justify-items: right;
    margin: auto;
}

main, aside {
    background-color: aliceblue;
    color: black;
    margin: auto;
    border: 20px;
    padding: 20px;
}

header, nav {
    max-width: 900px;
    float: left;
    text-align: center;
    margin: 0 10px 10px 0;
}

main {
    max-width: 500px;
    float: left;
}

aside {
    max-width: 400px;
    float: right;
}

.image-container {
    display: float;
    justify-content: space-around;
    margin: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.2s;
}

.image-container img:hover {
    transform: scale(1.05);
}

.footer {
    margin: auto;
    padding: 20px;
    align-self: flex-end;
}